.tab-header {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    height: 100%;
    border: 1px solid black;
    border-bottom: none;
    padding: 4px 10px;
    background-color: #627b9a;
    color: white;
    margin: 0 1px;
}

.tabs-content {
    padding: 20px 15px;
    height: 100%;
    border: 1px solid black;
}

.close-btn {
    width: 20px;
    height: 20px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

img {
    width: 100%;
}

.active-tab {
    background-color: #2b4c72;
}

